*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
div{
    font-size: 62.5%;
}
.seccion6 a{
    color:white;
    padding: 1rem;
}

.seccion6{
    background: darkslateblue;
    color:white;
    width: 38rem;
    height: 12rem;
    margin: auto;
    margin-top: 1.0rem;
    border-radius: 8px;
}
.seccion6 h3{
    text-align: center;
    padding-top: 1.4rem;
    padding-bottom: 0.5rem;
    font-size:1.1rem ;
    font-family: Arial, Helvetica, sans-serif;
}
.seccion6 h4{
    text-align: center;
    font-size: 0.7rem;
    color:rgb(229, 226, 226);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.seccion6 .google{
    display: flex;
    justify-content: center;
}
.seccion6 div p{
    padding: 1.1rem;
}
.seccion6 button{
    width: 6rem;
    height: 1.4rem;
    display: flex;
    margin: 0 auto;
    font-size: 0.6rem;
}
.seccion6 button a{
  color:rgb(61, 60, 60);
  text-decoration: none;
  padding: 3px 3px;
}
.seccion6 #g{

font-family: Arial, Helvetica, sans-serif;
font-size: 1.4rem;
font-weight: 600;
}
.seccion6 #k{

    font-family: 'Chango';
    font-size: 0.9rem;
    padding-top: 25px;
}
.seccion6 #t{

    font-family: 'Mr Bedfort';
    font-size: 1.5rem;
}
 